.FullArticle {
  background: #f8f9fa !important;
  color: #293347;
  position: relative;
  overflow: scroll;
  min-height: 120vh;
  margin-top: 80px;
  text-align: justify;
  overflow: scroll;
  padding-top: 40px;
}
