.FullArticle {
  color: #293347;
  position: relative;
  overflow: scroll;
  min-height: 120vh;
  margin-top: 80px;
  overflow: scroll;
  padding-top: 40px;
  width: 60%;
}
.articlehead {
  font-weight: 400;
  margin-top: 25px;
}
.articleText {
  font-size: 18px;
}
