.Landing {
  /* background: #e0ebe8; */
  position: relative;
  /* overflow: scroll; */
  min-height: 100%;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  /* background-color: #d24a27; */
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  /* overflow: scroll; */

  filter: blur(1px);
  -webkit-filter: blur(1px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white !important;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
