.Landing {
  position: relative;
  min-height: 100%;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  filter: blur(1px);
  -webkit-filter: blur(1px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  color: white !important;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 10px;
}
.bg-text:hover {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.8);
}
@media (max-width: 610px) {
  .bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: white !important;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  @media (max-width: 524px) {
    .bg-text {
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.6);
      color: white !important;
      font-weight: bold;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    }
  }
}
