.Landing {
  background: #e0ebe8;
  min-height: 55vh;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  overflow: scroll;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
