.About {
  /* background-color: mediumseagreen; */
  color: #666666;
  background: #e0ebe8;
  position: relative;
  min-height: 89vh;
  margin-top: 80px;
  text-align: center;
  overflow: scroll;
  /* margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px; */
  padding-top: 10px;
}

#mycol0 {
  background-color: mediumseagreen;
}
#mycol1 {
  background-color: orange;
}

#paddings {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#top {
  padding-top: 10px;
}
