.About {
  color: #293347;
  position: relative;
  min-height: 100%;
  margin-top: 80px;
  text-align: center;
  overflow: scroll;
  padding-top: 10px;
}
.head {
  font-weight: 600;
}

#paddings {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#top {
  padding-top: 16px;
  font-weight: 800;
}

#bottom {
  margin-bottom: 10px;
}

#skills {
  margin-top: 20px;
  min-height: 100%;
  text-align: center;
}

#borderRadius {
  border-radius: 15px;
}

.padding-10 {
  margin-right: 5px;
}
