

#ArticleListing {
  /* background: #eee; */
  background: green;
}

#ListByTags {
  background: #cccccc;
}
#image-styles {
  display: block;
  height: auto;
  max-width: 100%;
  /* margin-top: -47px;
  margin-left: -15px; */
  opacity: initial;
}

.main-content img {
  float: left;
  margin: 0 0 20px 20px;
  height: 200px;
  width: 300px;
  opacity: initial;
}

/* .h1 {
  font-weight: 800;
}
#title {
  padding: 16px 16px 0 16px;
  color: #293347;
}

#decoration {
  text-decoration: none;
  color: #293347;
}

#subhead {
  padding-left: 16px;
  padding-right: 16px;
}

.main-content {
  height: 200px;
  width: 100%;
}

@media (max-width: 576px) {
  .main-content img {
    align-content: center;
    margin-left: 0;
    float: none;
    height: auto;
    width: 100%;
    opacity: initial;
  }
} */
