.Blog {
  background: #e0ebe8;
  position: relative;
  overflow: scroll;
  min-height: 100vh;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
