.Blog {
  color: #293347;
  position: relative;
  overflow: scroll;
  min-height: 120vh;
  margin-top: 0;
  text-align: justify;
  overflow: scroll;
  padding-top: 50px;
}

#title {
  padding: 16px 16px 0 16px;
}
#subhead {
  padding-left: 16px;
  padding-right: 16px;
}

.main-content {
  height: 210px;
  width: 80%;
  border: 1px solid #eee;
  border-radius: 5px;
}
.main-content img {
  float: right;
  margin: 0 0 20px 20px;
  height: 200px;
  width: 300px;
  opacity: initial;
}
@media (max-width: 576px) {
  .main-content img {
    align-content: center;
    margin-left: 0;
    float: none;
    height: auto;
    width: 100%;
    opacity: initial;
  }
}
