.Blog {
  background: #eee;
  color: #293347;
  position: relative;
  overflow: scroll;
  min-height: 120vh;
  margin-top: 80px;
  text-align: justify;
  overflow: scroll;
  padding-top: 10px;
}
.h1 {
  font-weight: 800;
}
.card {
  padding-left: 14px;
  padding-bottom: 10px;
}
.card {
  padding-top: 0px;
  margin-top: 0px;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url(../../assets//showcase.jpg) center no-repeat;
  background-size: cover;
}
